body{
    background-color: pink;
}
tr,td{
    border: 1px solid black;
    height: 46px;
    width: 46px;
}
table{
    position: relative;
    /* width: 400px;
    height: 400px; */
    border: 2px solid black;
    border-collapse: collapse;
    margin: auto;
    

}
.first_row{
    border-top: 2px solid black;
}

.first_colum{
    border-left: 2px solid black;
}
#container{

    margin: auto;
    position: relative;
    border-radius: 25px;
    padding: 20px;
    margin-top: 10px;
    text-align: center;
}
button{
    position: relative;
    height: 40px;
    width: 150px;
    margin: auto;
    margin-top: 20px;
    border: 2px solid rgb(255, 80, 118);
    background-color: rgb(253, 167, 186);
    border-radius: 5px;
    font-weight: bolder;
    font-size: large;

}
button:hover{
    box-shadow: 1px 1px rgb(233, 136, 157);
    background-color: rgb(255, 209, 219);
}
button:active{
    background-color: rgb(247, 177, 192);
    box-shadow: none;
}
#restart{
    margin-left: 30px;
}
input{
    border: none;
    width: 46px;
    height: 46px;
    padding: none;
    margin: none;
}